{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}



<header id="navigation-prime">
    <div class="wrapper">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
  </p>
</div>
    
    <div class="grid-row">
        <div class="column-half"><h2 class="heading-medium"><span class="company-name">Red &amp; White Holdings Ltd</span></h2></div>
        <div class="column-half">Ty Fairclough <a>View account</a><a>log out</a></div>
    </div>
 
    <nav>
        <ul>
            <li class="active">Home</li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Training</a></li>
            <li>More</li>
            <li>
                <ul>
                    <li><a>SFA contracts</a></li>
                    <li><a>Manage team</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    </div>
</header>   
    
    <style>
        
        .wrapper {
            width: 960px;
            margin: 0 auto;
        }
        #navigation-prime {
            background: #DEE0E2;
        }
    </style>
<main id="content" role="main">

</main>
{% endblock %}

