<header role="globalNav" id="globalNav">   
{% include "includes/phase_banner_beta.html" %}
<div class="wrapper">    
<div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium company-name">company name</h2>
    </div>
    <div class="column-third align-right">
        <ul id="userNav">
            <li><a href="#">users name</a></li>
            <li><a href="#">sign out <span><i class="fa fa-sign-out"></i></span></a></li>
        </ul>
    </div>
</div>
    <nav id="main">
        <ul>
            <li class="active">Your dashboard</li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Apprentices</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </nav>
</div>    

</header>