<nav id="navA" class="hidden">
				<ul class="nav nav-tabs">
					<li class="active"><a href="/{% include "includes/sprint-link.html" %}/account">Home</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/finance">Finance</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Learners</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/training">Training</a></li>
                    <li><a href="/{% include "includes/sprint-link.html" %}/account/organisation">Manage organisations</a></li>
                    <li><a href="/{% include "includes/sprint-link.html" %}/team">Manage team members</a></li>
				</ul>
    
    				{% macro link(link) %}
                <ul class="nav sub-nav">
                        <li class="{% if link == 'WHATTT' %}active{% endif %}"><a href="/{% include "includes/sprint-link.html" %}/account">Link1</a></li>
                        <li><a href="/{% include "includes/sprint-link.html" %}/finance">Link2</a></li>
                        <li class="active"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Link3</a></li>
                        <li><a href="/{% include "includes/sprint-link.html" %}/team">Manage team members</a></li>
                        <li><a href="/{% include "includes/sprint-link.html" %}/account/organisation">Your organisations</a></li>
				</ul>
                    {% endmacro %}

</nav>


<nav class="nav utility-menu4 hidden" id="navB">
<ul style="margin-top: 7px;">
          <li><span id="userName" class="user-name">John Doe</span> <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
              <a href="/{% include "includes/sprint-link.html" %}/profile"><li>View invitations (0)</li></a>
              <a href="#"><li>Change name</li></a>
              <a href="#"><li>Change e-mail address</li></a>
              <a href="/{% include "includes/sprint-link.html" %}/profile/reset-password"><li>Update password</li></a>
             <!-- <a href="#"><li>Delete account</li></a> -->
<hr />
                <a href="/{% include "includes/sprint-link.html" %}/start"><li>Sign out</li></a>
            </ul>
          </li>
          <li id="levyAccount">
            Levy accounts <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
                <a href="/{% include "includes/sprint-link.html" %}/account"><li><span class="company-name">Acme Ltd</span> <i class="fa fa-check"></i></li></a>
              <a href="#"><li>Whitbread</li></a>
              <a href="#"><li>Costa Coffee</li></a>
              <a href="#"><li>Premier Inn</li></a>
            </ul>
          </li>
          <li>
            Help <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
              <a href="#"><li>Live Web chat</li></a>
              <a href="#"><li>Phone SFA</li></a>
              <a href="#"><li>Email SFA</li></a>
            </ul>
          </li>
        </ul>
</nav>


<nav class="nav primary-nav hidden" id="navC">
      <ul>
        <li><a class="active-nav-item" href="/{% include "includes/sprint-link.html" %}/account">Home</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/finance">Finance</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Learners</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/training">Training</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/account/organisation">Manage organisations</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/team">Manage team members</a></li>
      </ul>
</nav>





<script>


//Turns navigation on and off depending on local storage variable set at /navigation


var NavigationStatus = function() {
  var navStatus = JSON.parse(localStorage.getItem('Navigation-Status'));
   console.log(navStatus)
    if (navStatus == "a") {
      $( "#navA" ).removeClass( "hidden" );
  } else if (navStatus == "b") {
        $( "#navB,#navC" ).removeClass( "hidden" );
  }
};
NavigationStatus();


</script>