<nav>
				<ul class="nav nav-tabs">
					<li class="active"><a href="/{% include "includes/sprint-link.html" %}/account">Home</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/finance">Funding</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Apprentices</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/team">Manage team members</a></li>
                    <li><a href="/{% include "includes/sprint-link.html" %}/account/organisation">Your organisations</a></li>
				</ul>
    
    				<ul class="nav sub-nav">
					<li><a href="/{% include "includes/sprint-link.html" %}/account">Home</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/finance">Funding</a></li>
					<li class="active"><a href="/{% include "includes/sprint-link.html" %}/apprentice-view/people">Apprentices</a></li>
					<li><a href="/{% include "includes/sprint-link.html" %}/team">Manage team members</a></li>
                    <li><a href="/{% include "includes/sprint-link.html" %}/account/organisation">Your organisations</a></li>
				</ul>
    
</nav>


<nav class="utility-menu4">
<ul style="margin-top: 7px;">
          <li><span class="user-name">John Doe</span> <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
              <a href="#"><li>Change name</li></a>
              <a href="#"><li>Change e-mail address</li></a>
              <a href="#"><li>Update password</li></a>
              <a href="#"><li>Delete account</li></a>
              <a href="#"><li>View invitations (0)</li></a>
            </ul>
          </li>
          <li>
            Levy accounts <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
                <li><span class="company-name">Acme Ltd</span> <i class="fa fa-check"></i></li>
              <a href="#"><li>Whitbread</li></a>
              <a href="#"><li>Costa Coffee</li></a>
              <a href="#"><li>Premier Inn</li></a>
            </ul>
          </li>
          <li>
            To do: <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
              <a href="#"><li>Calculate your available spend</li></a>
              <a href="#"><li>See more messages</li></a>
            </ul>
          </li>
          <li>
            Help <span class="fa fa-caret-down"></span>
            <div class="hide-line"></div>
            <ul>
              <a href="#"><li>Live Web chat</li></a>
              <a href="#"><li>Phone SFA</li></a>
              <a href="#"><li>Email SFA</li></a>
            </ul>
          </li>
        </ul>
</nav>


<nav class="primary-nav">
      <ul>
        <li><a href="pta-home-1">Account home</a></li>
        <li><a href="paye-home-v4" class="active-nav-item">Finance</a></li>
        <li><a href="#">Learners</a></li>
        <li><a href="#">Manage team members</a></li>
        <li><a href="#">Manage organisations</a></li>
      </ul>
</nav>


<script>


//Turns navigation on and off depending on local storage variable set at /navigation


var NavigationStatus = function() {
  var navStatus = JSON.parse(localStorage.getItem('Navigation-Status'));
   console.log(navStatus)
    if (navStatus == "on") {
      $( ".nav" ).removeClass( "visually-hidden" );
  } else {
  $( ".nav" ).addClass( "visually-hidden" );

  }
};
NavigationStatus();


</script>