<div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>

      <ul id="proposition-links">
        <li><a href="/{% include "includes/sprint-link.html" %}/account">Home</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/finance">Finance</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/providers">Providers</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/apprentice-view">Recruitment</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/settings">Settings</a></li>
      </ul>

    </nav>
  </div>
</div>


<script>
var NavigationStatus = function() {
  var navStatus = JSON.parse(localStorage.getItem('Navigation-Status'));
   console.log(navStatus)
    if (navStatus == "on") {
      $( "#proposition-links" ).removeClass( "visually-hidden" );
  } else {
  $( "#proposition-links" ).addClass( "visually-hidden" );

  }
};
NavigationStatus();
</script>