<div class="logged-in" id="userControl">
    <div class="column-two-thirds">&nbsp;</div>
    <div>
        <p class="font-xsmall">Hi <a href="profile"><span class="users-name">Ian Russele</span></a>, <a href="#" id="signOut"><i class="fa fa-sign-out"></i> Sign out</a></p>
    </div>
</div>
<script>
$(".users-name").text(JSON.parse(localStorage.getItem('users-name')));
$(".users-email").text(JSON.parse(localStorage.getItem('email-address')));
    
    var currentURL = window.location.href;
    var strippedURL = currentURL.replace(/^(?:\/\/|[^\/]+)*\//, "");
    var redirectURL = strippedURL.startsWith(JSON.parse(localStorage.getItem("sprint-number"))+"/profile");
    if (redirectURL == true ) {
        $("#backToLevy").hide();
    } else {
        console.log("nothing");
    }
</script>