






{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}




<main id="content" role="main">
    
    

{% include "includes/phase_banner_beta.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="#">Education and learning</a></li>
      <li><a href="#">Apprenticeships, 14 to 19 education and training for work</a></li>
      <li>Access my levy</li>
    </ol>

  </div>
    
    

<div class="grid-row">
           <div class="column-two-thirds">

              <form action="check">
                    <div class="form-group inline">
                        <h1 class="heading-xlarge"><label for="text">Have you used this service before?</label> </h1>
                                                       <p>Claiming your levy funds is an important task that should be undertaken either by a senior manager or someone authorised by them. We would recommend a finance professional do this task.</p>

                        <fieldset class="inline spacingBottom" id="lower-earner" data-inline-error="inline-lower-earner-error">
                            <legend class="visuallyhidden">
                                eligibility.check.lower.earner.h2
                            </legend>
                        <label for="finance-person-true" class="block-label">
                                    <input type="radio" id="finance-person-true" name="lower-earner" value="true">Yes, sign me in </label>
                        <label for="finance-person-false" class="block-label">
                                    <input type="radio" id="finance-person-false" name="lower-earner" value="false">No, create my account </label>
                        </fieldset>
                    </div>
                    <div class="tamc-js-hidden error-inline validation-summary" id="inline-finance-pro-error">
        some copy here explaining that they really should be a senior person, but we won't stop them if they are not
        </div>
                  <input class="button" id="saveAndContinue" type="submit" value="Continue">

				  <!--div class="rjmakeALink" onclick="loopyLoop()"><p>Create another apprenticeship account</p></div-->
				  <!--CREATE ANOTHER APPRENTICESHIP ACCOUNT-->
              </form>

            </div>
      </div>

</main>


{% endblock %}























