{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
        <li><a href="#">change me</a></li>
      <li>User</li>
    </ol>

  </div>

 
<div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">


Susan Hamazaki<!--span class="heading-secondary" style="padding-top:0px">rob.edwards@acmecoventryltd.com</span--></h1>
                <div>




                    <table class="table-19-font">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <h2 class="heading-medium" style="margin-top:0">Overview</h2></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rjTableName">Email</td>
                                <td class="">susan.hamazaki@acmecoventry.com</td>
                                <td class=""></td>

                            </tr>
                            <tr>
                                <td class="rjTableName">Role</td>
                                <td class="">Transactor</td>
                                <td class=""><a href="teamchange.html">Change</a></td>

                            </tr>
                            <tr>
                                <td class="rjTableName">Status</td>
                                <td class="">Active</td>
                                <td class=""></td>

                            </tr>
                        </tbody>
                    </table>
                    <div style="margin-top:35px"></div>


                    <form class="inline-form " action="/sprintbeta1&#10;&#10;&#10;&#10;/settings/users/confirm-delete">
                        <a class="button" href="teamaccounts.html?deletedteam=y">Delete user</a>
                    </form>

                    <!--table class="table-19-font"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Payment</h2></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     <td class="rjTableName">Cost</td>
                      <td class="">£2,957.56</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Amount paid</td>
                      <td class="">£1,312.56</td>
                      <td class=""><a href="/sprintbeta1



/apprentice-view/paid">View</a></td>
                    </tr>
                     <tr>
                     <td class="rjTableName">Balance</td>
                      <td class="">£1,645.00</td>
                      <td class=""><a href="/sprintbeta1



/apprentice-view/left-to-pay">View</a></td>
                    </tr>

                  </tbody>
                </table-->


                </div>
                <div style="margin-top:35px">

                </div>

            </div>

       
    
        </div>
    
</main>

<script>

    
    
  
</script>

{% endblock %}
