{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}

<a href="../team/" class="link-back">Back to team members</a>

 
<div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">


Susan Hamazaki<!--span class="heading-secondary" style="padding-top:0px">rob.edwards@acmecoventryltd.com</span--></h1>
                <div>




                    <table class="form-group">
                        <tbody>
                            <tr>
                                <td class="rjTableName">Email</td>
                                <td class="">susan.hamazaki@acmecoventry.com</td>
                                <td class=""></td>

                            </tr>
                            <tr>
                                <td class="rjTableName">What they can do</td>
                                <td class="">Create and stop payments and view financial information</td>
                                <td class=""><a href="change-user">Change</a></td>

                            </tr>
                         
                            
                        </tbody>
                    </table>
                 
                    
                    
                        <a class="button" href="../team/?userdeleted=y">Remove team member</a>
                
                    

              


                </div>
                <div style="margin-top:35px">

                </div>

            </div>

       
    
        </div>
    
</main>

<script>

    
    
  
</script>

{% endblock %}
