// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }

  // Remove GOV.UK footer styles
#footer {
    border: 0;
    background: $white;
  }
}




// Colours

$gray: #bfc1c3;

    .no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .remove-list-item {
      display: inline-block;
      margin-top: 1.6em;
    }

    .list-item-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }

    .list-item-wrapper .heading-small,
    .list-item-wrapper .heading-medium,
    .list-item-wrapper .heading-large,
    .list-item-wrapper .heading-xlarge {
      margin-top: 0;
    }

    .list-item-wrapper .column-one-third .list-item {
      width: 100%;
    }

    .list-item-wrapper .column-one-third input {
      width: 90%;
    }

    .button-add-another {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper .column-one-third input {
        width: 100%;
      }

      .no-padding {
        padding-left: 20px;
        padding-right: 20px;
      }

      .button-add-another {
        width: 90%;
        margin: auto;
        display: block;
      }
    }

.alert-success {
    border-color: $turquoise;
    // background-color: #eaf6f5;
    background-color: $turquoise;
  }

.alert-success h2 {
    color:#fff;
    display:inline-block;
    margin-top:4px;
  }

.alert-success .fa-check {
  color: #fff;
  display:inline-block;
  margin-right:10px;
}


// end of adding new users inline

.fa-check-circle {
  color:#00823b;
}

.fa-circle {
    color: black;
    font-size: 0.35em !important;
    top: -4px;
    position: relative;
    margin: 0 5px 0 5px;
}

.align-center-columns {
  text-align:center;
}

.form-label-bold {
  margin-bottom:5px;
}


  @media (min-width: 640px) {
      .activation-code {
  max-width:6em
}

      }

// contracts 

.commit-bar {

}


.drag-upload {
  min-height:150px;
  min-width: 300px;
  background-color: $panel-colour;
margin-top:-6px;
}

.drag-upload p {
  text-align:center;
  padding-top:65px;
  font-weight:700;
}

.rj-contract-verify {
  // border: 1px solid #bfc1c3;
  width: 100%;
 min-height: 200px;
  margin-top:25px;
  background-color: $panel-colour;
}



.rj-dont-display {
  display:none;
}

.rj-pound-sign {
  height: 1em;
  width:1em;
  background-color: $grey-2;
  display:inline-block;
  margin-right:3px;
  padding: 4px 0 11px 4px;
}


.rj-headings-border {
  padding-bottom:20px; border-bottom: 4px solid #BFC1C3;
}

.rj-home-spacer {
  margin-bottom:35px;
}

.rj-commitments-border {
  padding-bottom:20px; border-bottom: 4px solid $govuk-blue;
}

@media (min-width: 641px) {
.rj-roles-choice {
  width:66%;
}
}

.rj-alert-wrapper {
  // border: 1px solid #bfc1c3;
  border-left: 4px solid #005EA5;
  width: 100%;
 min-height: 110px;
  margin-top:25px;
  background-color: $grey-3;
}

.rj-number-alert {
  border-right: 1px solid #bfc1c3;
  width: 90px;
  height: 80px;
  background-color: #005EA5;
  color: #FFF;
  display:inline-block;
}
.rj-number-complete {
    border-left-color: #28A197;
    background-color: rgba(40, 161, 151,0.20);
    overflow: hidden;
    position: relative;
}


.rj-number-complete:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 5px;
  background: #28A197;
  content: "";
  width: 100%;
  display: block;
  transform: rotate(-15deg);

}
.rj-number-alert h2 {
  font-size:48px;
 text-align: center;
 padding-top: 18px;
}

.single-number h2 {
  text-align: center;
 padding-top: 18px;
}

.rj-alert-copy {
  display:inline-block;
  height:80px;
vertical-align: top;
}


.rj-alert-copy-inner {
  display:block;
  vertical-align: top;
  width:100%;
}

#todo2 {

.rj-alert-wrapper {
    border: none;
    position: relative;
    height: auto;
    margin: 10px 0 15px;
    background: #F8F8F8;
    border:1px solid #bfc1c3;
}

.rj-alert-type {
    width: 20%;
    float: left;
    background: #BFC1C3;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    
    i {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-size: 4rem;
    color: white;
    }
}
    
    .rj-alert-type.high {
        background: #005EA5;
    }
    .rj-alert-type.medium {
        background: #2E358B;
    }
    .rj-alert-type.low {
        background: #6F72AF;
    }
    


.rj-alert-copy {
    display: block;
    width: 80%;
    margin-left: 20%;
    height: auto;
        h2 {
        padding:  0;
        margin: 10px 10px 0;
        }
        p {
            margin: 0 10px 10px 10px;
            font-size: 16px;
        }
        a {
            margin: 0 10px 10px;
            display: block;
        }
    }

}

@media (min-width: 641px) {
    #todo2 {
        .rj-alert-type {
            i {
                font-size: 2rem;       
            }
        }
    }
    
}

// end of feed/to do list

// Mobile tables

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  #transactions table, #transactions thead, #transactions tbody, #transactions th, #transactions td, #transactions tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #transactions thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;

  }

   


  #transactions tr { border-left: 1px solid $grey-2; margin-top:10px; border-right: 1px solid $grey-2;border-top: 1px solid $grey-2; }
  
  #transactions td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid $grey-2; 
    position: relative;
    padding-left: 50%; 
    font-size: 16px;
    font-weight:700;
  }

   #transactions .numeric {
    text-align:left !important;
   }
  
  #transactions td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 11px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  #transactions td:nth-of-type(1):before { content: "Date"; font-weight:400; }
  #transactions td:nth-of-type(2):before { content: "Description"; font-weight:400; }
  #transactions td:nth-of-type(3):before { content: "Credit"; font-weight:400; }
  #transactions td:nth-of-type(4):before { content: "Debit"; font-weight:400; }
  #transactions td:nth-of-type(5):before { content: "Balance"; font-weight:400; }
  #transactions td:nth-of-type(6):before { content: ""; font-weight:400;  color: #0b0c0c;}
}


//end of mobile tables

//register marrage allowance type thing

.tamc-js-hidden {
  display : none;
}

.error-inline {
  margin-top: 15px;
  clear: both;
  background-color: #fef7f7;
}

.validation-summary {
    border: 5px solid #b10e1e;
    padding: 15px 30px;
    margin-bottom: 30px;
}



// Commitment screens

.changeHighlightCopy {
  font-weight:700;
}

.thereAreChanges {
  background-color:#DEE0E2
}

.fullWidthGreyAlert {
  background-color: $panel-colour;
  width:100%;
  height:50px;
  padding: 20px 40px 20px 40px;
  margin: 0 0 20px 0;

}

.fullWidthGreyAlert p {
  text-align: center;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #DEE0E2;
}


// james funding toolkit
.rj-co-funding {
  background-color: $panel-colour;
  width:143px;
  border-top: 1px solid $grey-4; 
}

.rj-white-background {
  background-color: #fff
}

.rj-border-left {
     border-left: 1px solid $grey-4; 
}

.rj-border-right {
     border-right: 1px solid $grey-4; 
}


.rj-co-funding-label {

}

.rj-co-funding-label p  {
  padding: 0px 10px 10px 20px;
  margin-bottom: 0px;
}

.rj-co-funding-label h3 {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px
}

.sunset-funds {
    display: block;
    color: red;
}



@media (min-width: 641px) {
.table-19-font td, .table-19-font th {
  font-size:19px !important;
  line-height: 1.3157894737;
}
}

.first-para-spacing

{ }

.noMarginTop {
    margin-top:0px !important;
}

.smallMarginBotom {
    margin-bottom:2px !important;
}

.looks-like-a-link {
    color:#005ea5;
    font-weight:700;
    text-decoration:underline;
}

.looks-like-a-link-underline {
    color:#005ea5;
    font-weight:400;
    text-decoration:underline;
}

.looks-like-a-link-underline-h2 {
    color:#005ea5;
    font-weight:700;
    text-decoration:underline;
}

.space-at-bottom {
    border-bottom: 1px solid #bfc1c3;
    padding: 15px 0;
    position: relative;
}

.rj-top-border {
  padding-top: 20px;
  border-top: 1px solid #bfc1c3;
}

.rj-currency-symbol {
  font-weight:700;
}

.rj-currency-title {
  margin-left: 15px
}

.rj-percentage-symbol {
 margin-left: 5px;
 font-weight:700;
}

.button-clear, .button-clear:focus, .button-clear:hover {
    border: none;
    background: none;
    color: #005ea5;
    text-decoration: underline;
    box-shadow: none;
    display:block;
    margin-top: 10px;
    padding-left: 0;
  }

.button-grey-secondary {
    background-color: #eee;
    color: #000;
    box-shadow: 0 2px 0 #666;
}


.button-grey-secondary:focus, .button-grey-secondary:hover {
    background-color: darken(#eee ,4);
    color:#000;
}

.delete-button, {
    background-color: $red;
    color: #fff;
    box-shadow: 0 2px 0 #666;
}

 .delete-button:focus, .delete-button:hover {
    background-color: darken($red ,4);
}

.inline-form {
  display:inline-block;
}

.delete-form {
  float:right;
}

    .list-item-wrapper-vertical {
      padding-left: 20px;
      padding-right: 20px;
    }

    .list-item-wrapper-vertical input {
      width: 80%;
    }

    .list-item-wrapper-vertical .remove-list-item-vertical {
      margin-top: 4.4em;
      display: block;
    }

    .list-item-wrapper-vertical .heading-medium {
      margin-top: 0;
    }

    .button-add-another-vertical {
      background-color: #eee;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:hover {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    .button-add-another-vertical:focus {
      background-color: #ccc;
      color: #000;
      box-shadow: 0 2px 0 #666;
    }

    @media (max-width: 640px) {
      .list-item-wrapper-vertical inpit {
        width: 100%;
      }

      .button-add-another-vertical {
        width: 90%;
        margin: auto;
        display: block;
      }
    }



@media (max-width: 641px) {
.rj-top-border-mobile {
  padding-top: 35px;
  border-top: 1px solid #bfc1c3;
  }

.rj-bottom-border-mobile {
  padding-bottom: 35px;
  border-bottom: 1px solid #bfc1c3;
  }

.rj-currency-title {
  margin-left: 19px;
}

.rj-currency-input {
 width:93% !important;
 margin-left: 3px;

  }

}

.graphGoesHere {
    width:100%;
    min-height:300px;
    height:auto;
    background-color: #fff;
}

.rjCashMoney {
    font-size: 2.5em;
    line-height: 1;
    display: block;
    // color: #08c;
    font-weight: 700;
}

.home-figures {
    display:inline-block;
    margin-right: 50px;
}

.rjBackButton {
    text-decoration: underline;
    cursor: pointer; cursor: hand;
}

.rjFormTwoThirds {
    min-width:85%;
}

.rjmakeALink {
    text-decoration: underline;
    cursor: pointer; cursor: hand;
    color: #005ea5;
}

.rjmakeALink:visited {
    color:#4c2c92;
}


.rjHMRCLogo {
    max-width: 240px;
    max-height: 184px;
    margin-bottom:50px;

}

.rjExitButton {
    display:inline-block; 
    margin: 15px 0 0 25px 

}

.rjHMRCLogo  img {
    height: 100%;
    width: 100%;
}

.rjSearchButton{
    display:inline-block !important;
    padding: 0.9rem 1.2rem 0.5rem 1rem;
    box-shadow:0 0 0;
    webkit-box-shadow:0 0 0;
    moz-box-shadow:0 0 0;
    margin-left: -4px;
}

#organisation-name,{
    width:76%;
}

 #contract-search {
    width:85%;
}

@media (max-width: 640px) {
#organisation-name,  #contract-search {
    width: 100%;
    }
.rjSearchButton {
    margin: 5px 0 0 0;
  }
}







.highlight_nav a:link{text-decoration: none; color:black; }




// navigation
.nav:before, .nav:after, .sub-nav:before, .sub-nav:after {
    content: " ";
    display: table;
}
#navA.nav, .sub-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    box-shadow: 0 -1px 0 $gray inset;
}

.nav-tabs, .nav-links, .sub-nav {
    overflow: hidden;
    margin-top: 20px;
}

.sub-nav {
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: 0px -4px 0px 0px #bfc1c3 inset;
    font-size: 16px;
}

.nav-tabs>li, .sub-nav>li {
    float: left;
    margin-bottom: 0px;
}
.nav-tabs>li, .nav-links>li, .sub-nav>li {
    float: left;

}
.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li a {
    border-width: 1px;
    text-decoration: none;
    line-height: 1.5;
}
.nav>li>a, .sub-nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.sub-nav>li>a {
    padding: 15px 15px;
}
.nav-tabs li.active { 
    bottom: -1px;
    a {
    border: 1px solid $gray !important;
    border-bottom-color: transparent !important;
    color: #4b5157 !important;
}
}

.sub-nav li.active a {
    border-bottom: 4px solid #6F777B;

}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #a7adb2;
    background-color: white;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
    cursor: default;
}



// hmrc nav toolbelt

.utility-menu4 {
    float: left;
    width: 100%;
    font-size: 16px;
                ul {
        float: right;
        display: inline;
        margin: 0;
        padding: 0px 0px 0px 0;
        list-style: none;
            a {
                  text-decoration: none;  
            }
            li {
            border: 1px solid white;
            display: inline-block;
            position: relative;
            padding: 15px 25px 15px 20px;
            background: #fff;
            cursor: default;
                        ul {
                padding: 0;
                position: absolute;
                top: 47px;
                right: -1px;
                display: none;
                width: 300px;
                opacity: 0;
                visibility: hidden;
                border: 1px solid #DEE0E2;
                border-left: 0;
                border-right: 0;
                    hr {
                        margin: 0;
                        position: relative;
                        z-index: 1;
                    }
                    li {
                        background: white;
                        display: block;
                        color: black;
                        cursor: pointer;
                        z-index: 1;
                        border-left: 1px solid #DEE0E2;
                        border-right: 1px solid #DEE0E2;
                        i {
                            float: right;
                        }
                    }
                }
        }
    }
}




// hover states
.utility-menu {
    ul {
        li:hover {
            background: #fff;
            color: black; 
            ul {
                
            }
        }
    }
}
.utility-menu4 > ul > li:hover {
    border-top: 1px solid #DEE0E2;
    border-left: 1px solid #DEE0E2;
    border-right: 1px solid #DEE0E2;
}


.utility-menu4 ul > li:hover .hide-line {
    display: block;
}

.utility-menu4 ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.utility-menu4 ul li ul a li:hover {
    background: #F8F8F8;
}



.hide-line {
    width: 100%;
    height: 3px;
    background: white;
    bottom: 2px;
    left: 0;
    position: absolute;
    z-index: 1;
    display: none;
}

// HMRC static banner

.primary-nav {
    background: #ffffff;
    padding: 0;
    border-top: 1px solid #BFC1C3;
    border-bottom: 1px solid #BFC1C3;
    margin: 0;
    position: relative;
    color: white;
    height: 45px;
    clear: both;
}

.primary-nav ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.primary-nav ul {
list-style: none;
    text-align: justify;
    margin: 0;
    padding: 0;
    line-height: 0;
    float: left;
    width: 100%;
}

.primary-nav ul li {
    display: inline-block;
    float: left;
}
.primary-nav ul li a {
    color: #0B0C0C;
    display: block;
    padding: 25px 20px 20px 20px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 700;
}


.primary-nav ul li a.active-nav-item {
    background: #BFC1C3;
    color: #0B0C0C;
    top: 45px;
}

@media (max-width: 640px) {

.right-info  {
  float:none;
  }   
}



@media (max-width: 640px) {
.rjHideOnTablet {
    display:none;
    }

    .rjExitButton {
    display:inline-block; 
    margin: 25px 0 0 0; 
}

}


.rjTabWidth {
    max-width:250px;
}

/*
.rjTableName {
    color:#6f777b;
    font-weight: 700;
}
*/

.rjChangeButton {
        background-color: #dee0e2;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.5em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    overflow: hidden;

}



// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// Robs custom styles here

.related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}

.related li {
    margin-bottom: 0.75em;
    padding-left: 0;
}

.related ul {
    font-size: 16px;
    line-height: 1.25;
}

.robH2Spacing {
    margin-top: 0.3em ;
    margin-bottom: 0.5em ;
}

.robBalance {
font-size: 80px;
font-weight:700;
line-height:1;
}

.robPence {
font-size:16px;
line-height: 1;
}

.make-it-bold {
    font-weight:700;
}

.negativeNumber {
    color: #DC143C;
    white-space: nowrap;
}

@media (max-width: 768px) {


.robPence {
font-size:16px;
line-height: 1;
}
}

.robColumnDetails {
    border-bottom: 1px solid #bfc1c3;
    padding: 15px 0 50px 0;
    position: relative;
}

//spacers

.twenty-top {
  margin-top:20px;
}

// Custom mobile tables stuff

@media (max-width: 640px) {

}

// Remove the bullets on the side navi

.robSideNav{
 list-style-type: none;
}






.transaction .js-tab-content {
    overflow: hidden
}

// filtering - copied from competition and markets authority cases....
#finder-frontend {
  margin-bottom: $gutter * 1.5;

  .signup-content p {
    margin: $gutter-half 0;
    @include core-19;

    @include media(tablet) {
      margin: $gutter 0;
      max-width: $two-thirds;
    }
  }

  legend {
    color:$text-colour;
    margin-bottom: $gutter-half;
    @include media(tablet) {
      margin-bottom: $gutter-two-thirds;
    }
  }

  a.button, input.button {
    @include button($button-colour);
    width: auto;
        font-size: 1em;
    line-height: 1.25;

  }

    .summary {
      margin-bottom: $gutter;
      @include core-19;
    }

    .related-links {
      @include grid-column(1/3);
      @include bold-16;
      margin-top: $gutter * 1.5;
      margin-bottom: $gutter * 1.5;
      list-style:none;

      li {
        margin-bottom:4px;
        @include media(tablet) {
          margin-bottom:8px;
        }

        a:link,
        a:visited {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .filter-form {

    .js-enabled & .button {
      display:none;
    }
    p {
      max-width: $full-width;
      @include core-16;
      margin-bottom: $gutter;
    }
  }

    .help-text {
    @include core-14;
    display:block;
    padding: $gutter-one-third/2 0;
    @include media(tablet) {
      padding: $gutter-one-third 0;
    }
  }

  .govuk-option-select,
  .filter {
    margin-bottom: $gutter;
  }

.filter  {
    background-color:$grey-3;
    padding: 0 5px;

    &:focus {
      outline: 3px solid #ffbf47;
    }

    .legend {
      @include core-19;
      @include inline-block;
      margin-right:40px;
      font-weight:bold;
      padding-top: $gutter-one-third;
    }
  }

    .radio-filter,
  .text-filter {
    padding: 0 $gutter-one-third;

    label {
      margin-right:$gutter-one-third;
      @include inline-block;
    }
  }
  .radio-filter input {
    width:14px;
  }

  .form {
    @include core-19;
    @include media(tablet) {
      max-width: $two-thirds;
    }

    input.button[type=submit] {
      margin-top: $gutter-one-third;
    }

    p {
      max-width: $full-width;
    }

    fieldset.invalid {
      border-left: solid 4px $error-colour;
      padding-left: $gutter-half;
      margin-left: -$gutter-half - 4;
    }

    .validation-message {
      color: $error-colour;
      font-weight: bold;
      padding: $gutter-half;
      margin-left: -$gutter-half - 4;
      border-left: solid 4px $error-colour;
    }

    .block-label {
      display: block;
      clear: left;
      position: relative;
      background: $panel-colour;
      border: 1px solid $panel-colour;
      padding: 18px $gutter $gutter-half 45px;
      margin: 5px 0;
      cursor: pointer;

      @include media(tablet) {
        float: left;
      }

      &:hover {
        border-color: $black;
      }

      &.selected {
        background: $white;
        border-color: $black;
      }

      &.focused {
        outline: 3px solid $yellow;

        input[type=checkbox]:focus {
          outline: none;
        }
      }
    }
  }

    input.text {
    @include core-16;
    background: $white;
    border: 1px solid $border-colour;
    width: $full-width;
    margin: 0 0 0 -1px;
    padding: 5px 0;
    margin-bottom: $gutter-one-third;
    text-indent: 5px;
  }



  .filtered-results {
    .result-info {
      @include core-16;
      vertical-align: baseline;
      border-bottom: solid 1px $border-colour;
      margin: 0 0 $gutter-half 0;
      padding-bottom: $gutter-half;

      .result-count {
        @include bold-48;
        margin-right: $gutter-one-third / 2;
      }
    }
}


    .govuk-option-select,
  .filter {
    margin-bottom: $gutter;
  }

#finder-frontend .radio-filter, #finder-frontend .text-filter {
    padding: 0 10px;
}
#finder-frontend .filter {
    background-color: #dee0e2;
    padding: 0 10px;
}
#finder-frontend .govuk-option-select, #finder-frontend .filter {
    margin-bottom: 30px;
}

#finder-frontend .filter .legend {
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    display: -moz-inline-stack;
    display: inline-block;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 10px;
}

#finder-frontend input.text {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    background: white;
    border: 1px solid #bfc1c3;
    width: 100%;
    margin: 0 0 0 -1px;
    padding: 5px 0;
    margin-bottom: 10px;
    text-indent: 5px;
}



.govuk-option-select .option-select-label {
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    margin-right: 40px;
    font-weight: bold;
    padding-top: 5px;
}

@media (min-width: 641px) {
.govuk-option-select .option-select-label {
    font-size: 19px;
    line-height: 1.31579;
    }
}


.js-enabled .govuk-option-select {
    padding: 0 0 1px;
}
.govuk-option-select {
    background-color: #dee0e2;
    padding: 5px;
    margin-bottom: 30px;
}

.govuk-option-select.js-collapsible button {
    z-index: 100;
    position: relative;
    border: none;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin-bottom: -1px;
    padding: 5px 10px;
  /*  background: url(https://assets.digital.cabinet-office.gov.uk/static/govuk-component/option-…prite-5f8bb91ff4faf8d3dbcd46d0a4d1e90834b9b9ab3d41979068ea19fdf27529be.png) no-repeat right 5px; */
    background-color: #dee0e2;
}

.js-enabled .govuk-option-select .js-selected-counter {
    font-size: 14px;
    line-height: 1.42857;
}

.js-enabled .govuk-option-select .js-selected-counter {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
}

@media (min-width: 769px) {
.govuk-option-select .options-container label {
    width: 90%;
        }
}

.govuk-option-select .options-container label {
    display: -moz-inline-stack;
    display: inline-block;
    padding: 7px 0 7px 35px;
    border-bottom: 1px solid #bfc1c3;
    width: 100%;
    cursor: pointer;
}

.hgroup {
    margin-bottom: 30px;
}
@media (min-width: 641px) {
.hgroup {
    margin-bottom: 60px;
}
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
    color: #0b0c0c;
}

.link-back {
    display: inline-block;
    position: relative;
    font-family: "nta", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.1428571429;
    font-weight: 400;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
    color: #0b0c0c;
    text-decoration: none;
    border-bottom: 1px solid #0b0c0c;
}
@media (min-width: 641px) {
.link-back {
    font-size: 16px;
    line-height: 1.25;
}
}
//     end


#userControl {
    background: white;
    border-bottom: 1px solid $grey-2;
    padding-top: 5px;
    overflow: auto;
    p {
        text-align: right;
        margin: 0 0 5px 0;
    }
}


// my additional element styles


    .button.text-link {
            background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    color: #005ea5;
    border: none;
    }



// my additional layout styles

@media (min-width: 641px) {
.rhtm, .column-third aside.related {
    margin-top: 60px;
}
}


// hmrc styles

.button--secondary, .button--secondary:link, .button--secondary:visited {
    background-color: #DEE0E2;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
}

.button--secondary:hover, .button--secondary:focus {
    background-color: #d0d3d6;
    color: #0b0c0c;
}

.button--secondary:active, a.button--secondary:active {
    top: 2px;
    box-shadow: 0 0 0 #0b0c0c;
}

.service-info {
     //   border-top: 10px solid #005ea5;
    //padding-bottom: 0.5em;
    .logo {
            margin-top: 0.78947em;
    }
    
    .organisation-logo {
        font-family: Helvetica, Arial;
    font-weight: 400;
    display: block;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    padding: 3px 0 2px 0; 
    text-decoration: none;
    padding: 3px 0 2px 30px;
    background-image: url("https://www.tax.service.gov.uk/assets/2.141.0/images/icons/crests/hmrc_crest_18px.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    border-left: 2px solid #009390;
    }
    .organisation-logo-medium {
            font-size: 18px;
    line-height: 22px;
    padding: 3px 0 2px 38px;
    background-image: url("../images/icons/crests/hmrc_crest_18px_x2.png");
    background-size: auto 26px;

    border-left: 2px solid #009390;
    white-space: nowrap;
    }
}
    

// notice

.notice {
        position: relative;
    overflow: hidden;
    border: 1px solid #bfc1c3;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    
}


@media (min-width: 641px) {
    .notice {
        padding-top: 45px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
}


// hopscotch

div.hopscotch-bubble {
    border: 5px solid #ffbf47;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.up .hopscotch-bubble-arrow-border {
    border-bottom: 17px solid #000;
    border-bottom: 17px solid #ffbf47;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

div.hopscotch-bubble .hopscotch-bubble-arrow-container.down .hopscotch-bubble-arrow-border {
    border-top: 17px solid #000;
    border-top: 17px solid #ffbf47;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
}

.hopscotch-bubble-number {
    display: none;
}

div.hopscotch-bubble h3 {
    font-family: "nta", Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: none;
    margin-top: 1.25em;
    margin-bottom: 0.5em;
}


@media (min-width: 641px) {
    div.hopscotch-bubble h3 {

        margin: 0.8333333333em 0;
        font-size: 24px;
        line-height: 1.25;
    }
}


.hopscotch-bubble-number, div.hopscotch-bubble .hopscotch-bubble-number {
    display: none;
}

div.hopscotch-bubble .hopscotch-bubble-content {
    margin-left: 0;
}


div.hopscotch-bubble .hopscotch-content {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: inherit;
    padding-top: inherit;
}


div.hopscotch-bubble {
    color: inherit;
    font-family: inherit;
    font-size: 19px;
    
}

div.hopscotch-bubble .hopscotch-nav-button,
div.hopscotch-bubble .hopscotch-nav-button.next {
        background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.3em 0.6em 0.2em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
    vertical-align: top;
    text-shadow: none;
    font-weight: inherit;
    background-image: none;
    height: auto;
}

div.hopscotch-bubble .hopscotch-nav-button.next:hover {
    background-color: #00692f;
    background-image: none;
}

div.hopscotch-bubble .hopscotch-nav-button.next:focus {
    outline: 3px solid #ffbf47;
}

div.hopscotch-bubble .hopscotch-bubble-close {
    display: inline-block;
    font-size: 16px;
    width: auto;
    text-indent: 0;
    background: none;
    padding: 10px;
    height: auto;
}

div.hopscotch-bubble .hopscotch-bubble-close::after {
    content: "\f00d";
    font:normal normal normal 16px/1 FontAwesome;
    margin-left: 10px;
}



/* Responsive YouTube */

#youTubeResponsive {
    width: 100% !important;
    height: auto;
    margin: 10px 0;
}

/* Styles from HMRC */

hr.pta-hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #005ea5;
    margin: 10px 0 30px;
    padding: 0;
    background: #fff;
}



/* Account page v1 changes */

#finance h2 {
    margin-top: 0;
}

#help1, #help2 {
    margin-top: 0;
}



/* Small paging */

.pager {
    margin-top: 10px;
    margin-bottom: 0;
}
@media (min-width: 641px) {
    .pager {
        margin-top: 15px;
        margin-bottom: 0;
    }
}
.pager-items {
    display: none
}
@media (min-width: 641px) {
    .pager-items {
        display: inline
    }
    .pager-items li {
        display: inline;
        margin: 0 5px
    }
    .pager-items li:first-child {
        margin-left: 0
    }
    .pager-items li:last-child {
        margin-right: 0
    }
}
.pager-prev,
.pager-next {
    margin-right: 10px
}
@media (min-width: 641px) {
    .pager-prev,
    .pager-next {
        margin-right: 0
    }
}
@media (min-width: 641px) {
    .pager-prev {
        margin-right: 10px
    }
}
@media (min-width: 641px) {
    .pager-next {
        margin-left: 10px
    }
}
@media (min-width: 641px) {
    .pager-controls {
        float: right
    }
}


.survey-panel {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #dee0e2;
    position: relative;
}

.survey-panel {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #DEE0E2;
    position: relative;
    border: 1px solid #BFC1C3;
}


/* HTML Guideance styles */

.html-publications-show:after,
.html-publications-show .publication-external:after,
.html-publications-show .publication-header:after,
.html-publications-show .publication-content .govspeak .contact:after,
{
    content: "";
    display: block;
    clear: both
}
.html-publications-show:after,
.html-publications-show .publication-external:after,
.html-publications-show .publication-header:after,
.html-publications-show .publication-content .govspeak .contact:after,
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.html-publications-show {
    padding: 15px 15px 90px;
}

.html-publications-show .publication-header {
    background: #2b8cc4;
    padding: 10px 15px;
    margin: 0 -15px;
}
.html-publications-show .publication-header .headings {
    overflow: hidden;
}
.html-publications-show .publication-header .headings .document-type {
    font-family: "nta", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    display: block;
    margin: 20px 0 0;
}

.html-publications-show .publication-header .headings h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 32px;
    line-height: 1.09375;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    margin: 5px 0 15px;
    color: #fff;
}

.html-publications-show .publication-header .headings p {
    margin: 15px 0 20px;
    color: #fff;
}

.html-publications-show .in-page-navigation {
    color: #fff;
    margin: 0 0 40px;
    width: 100%;
}

.html-publications-show .in-page-navigation h2 {
    font-weight: bold;
}

.html-publications-show .in-page-navigation ol {
    padding-left: 30px;
    list-style-type: decimal;
}

.html-publications-show .in-page-navigation ol li {
    list-style: decimal;
    font-weight: bold;
}
.html-publications-show .in-page-navigation a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}
.html-publications-show .publication-header a:hover {
    color: #fff;
    text-decoration: underline;
}

.html-publications-show .publication-content {
    position: relative;
    z-index: 2;
}

.html-publications-show .publication-content .govspeak h2, #whitehall-wrapper .html-publications-show .publication-content .govspeak h3 {
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.html-publications-show .publication-content .govspeak h2 .number {
    background: #fff;
    padding-right: 10px;
    font-weight: bold;
}

.html-publications-show .publication-content .govspeak h3 {
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.html-publications-show .publication-content .govspeak h3 .number {
    background: #fff;
    color: #6f777b;
    padding-right: 10px;
}

.html-publications-show .govspeak h4, .html-publications-show .govspeak h5, .html-publications-show .govspeak h6 {
    font-size: 19px;
    line-height: 1.31579;
}

@media (min-width: 641px) {

    .html-publications-show .publication-header {
        padding: 0 30px;
        margin: 0 -15px;
    }
    .html-publications-show .publication-header .headings .document-type {
    font-size: 27px;
    line-height: 1.11111;
    }
    .html-publications-show .publication-header .headings .document-type {
    margin: 75px 0 10px;
    }
    .html-publications-show .publication-header .headings h1 {
    font-size: 48px;
    line-height: 1.04167;
    }
    .html-publications-show .publication-header .headings h1 {
    margin-bottom: 60px;
    }
    
    .html-publications-show .publication-content .govspeak {
        width: 75%;
        float: right;
    }
    .html-publications-show .publication-content .govspeak h2, #whitehall-wrapper .html-publications-show .publication-content .govspeak h3 {
    margin-top: 80px;
    }
    
    .html-publications-show .publication-content .govspeak h2 {
    font-size: 36px;
    line-height: 1.11111;
    }
    
    .html-publications-show .publication-content .govspeak h2 {
    margin: 60px 0 15px;
    }
    
    .html-publications-show .publication-content .govspeak h2 .number {
    font-family: "nta", Arial, sans-serif;
    font-size: 53px;
    line-height: 1.03774;
    font-weight: 400;
    text-transform: none;
    font-weight: bold;
    position: absolute;
    margin: -30px 0 0 -25%;
    width: 22%;
    padding: 35px 0 30px 3%;
}
    .html-publications-show .publication-content .govspeak h2 .number {
    font-size: 80px;
    line-height: 1;
}
    
    .html-publications-show .publication-content .govspeak h3 {
    font-size: 27px;
    line-height: 1.11111;
}
    
     .html-publications-show .publication-content .govspeak h3 {
    margin-top: 80px;
}
    
    .html-publications-show .publication-content .govspeak h3 .number {
    padding-right: 0;
    display: inline-block;
    width: 75px;
    margin-left: -75px;
}

    .html-publications-show .publication-content .govspeak h4, #whitehall-wrapper .html-publications-show .publication-content .govspeak h5, #whitehall-wrapper .html-publications-show .publication-content .govspeak h6 {
    font-weight: bold;
    color: black;
    margin-top: 30px;
}
    
}


.govuk-box-highlight a {
    color: white;
    &:hover {
        color: rgba(255,255,255,0.8);
    }
}



.header-global__title, .header-global__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

.header-global__title a, .header-global__subtitle a {
    border-bottom: 1px solid rgba(0,0,0,0);
    color: #fff;
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
}

.header-global {
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: 15px;
}

.header-global__title a:hover, .header-global__subtitle a:hover {
    border-color: #fff;
}



@media (min-width: 641px) {
.header-global__title, .header-global__subtitle {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 32px;
}
.header-global__title, .header-global__subtitle {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 32px;
}
    
    .header-global__title, .header-global__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    font-size: 32px;
}

.header-global__subtitle {
    font-size: 24px;
    text-align: right;
    width: 50%;
}
    
.header-global {
    display: table;
    padding: 15px 0 10px;
    width: 100%;
}    
}