

{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}



<main id="content" role="main" class="newNav">
    

    


    <section id="mainWrapper">
{% include "includes/phase_banner_beta.html" %}

            <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="#">Joe Bloggs</a></li>
      <li>Invitations</li>
    </ol>

  </div>
   <div class="grid-row">
           <div class="column-two-thirds">
                        <h1 class="heading-xlarge" >Invitations</h1>
               <table>
                  <thead>
                    <tr>
                      <th colspan="1">
                          Account name
                      </th>
                        <th>
                            What you can do
                        </th>
                        <th>
                            Expires in
                        </th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                                          <tr>
                      <td class="rjTableName">Portsmouth City Council</td>
                      <td class="" style="">Everything — you're the owner</td>
                      <td class="">7 days</td>
                    <td class=""><a class="button" href="#">Accept</a></td>
                    </tr>

                   
                      
                  </tbody>
                </table>
               
          </div>
    </div>
      
    </section>
</main>



<script>
</script>

{% endblock %}

