{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


<a href="../profile/" class="link-back">Back to profile</a>      


            <div class="grid-row">
                <div class="column-two-thirds">
                   <h1 class="heading-large">What you need</h1>
                   <!-- <p>Use this service to:</p>
                    <ul class="list list-bullet">
                        <li>Create an apprenticeship account for your organisation</li>
                        <li>Access and manage your levy funds</li>
                    </ul>
                    
                    <h3 class="heading-medium">Before you start</h3>-->
                    <p>To create an account you need:</p>
                    <ul class="list list-bullet">
                        <li>the Companies House number for your organisation</li>
                        
                        <li>the Government Gateaway login details for one of your organisation's PAYE scheme</li>
                        
                    </ul>
                    
                    <a class="button" rel="external" href="step_a1">Start</a>
                </div>
          </div>  

</main>

<script>
  
</script>

{% endblock %}
