{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


<a class="link-back" href="/{% include "includes/sprint-link.html" %}/profile">Back to profile</a>
    
    <div class="grid-row">
        <div class="column-two-thirds">
            
            <h1 class="heading-large">Search for your organisation</h1>

            <p>Use the companies house number for an organisation you want to hire apprentices through.</p>
            <!--<p>We need to add a company name to the contract between you and the Skills Funding Agency. To find your company enter the company number of your organisation that is registered with Companies House.</p>-->
            
            <form action="step_a5">
            
            <fieldset>
                <div class="form-group">
                <label class="form-label" for="ch-number">Companies House number</label>
                <input class="form-control" id="ch-number" type="text" name="ch-number">
                </div>
                </fieldset>
            </form>
            
            <a rel="external" href="step_b2" class="button">Continue</a>
        
        </div>
    </div>

    
    
</main>

 <!--button class="button">Do the thing</button-->

<script type="text/javascript">
 
    
    var CompaniesHouseAPI = require('companies-house-api');
var async = require('async');
 
var chapi = new CompaniesHouseAPI({apiKey: API_KEY});
 
async.waterfall(
    [
        function(next) {
            chapi.company('07296558', function(err, company) {
                next(err, company);
            });
        },
        function(company, next) {
            company.registeredOfficeAddress(function(err, registeredOfficeAddress) {
                next(err, company, registeredOfficeAddress);
            });
        },
        function(company, registeredOfficeAddress, next) {
            company.officers(function(err, officers) {
                next(err, company, registeredOfficeAddress, officers);
            });
        },
        function(company, registeredOfficeAddress, officers, next) {
            company.filingHistory(function(err, filingHistory) {
                next(err, company, registeredOfficeAddress, officers, filingHistory);
            });
        },
        function(company, registeredOfficeAddress, officers, filingHistory, next) {
            company.insolvency(function(err, insolvency) {
                next(err, company, registeredOfficeAddress, officers, filingHistory, insolvency);
            });
        }
    ],
    function(err, company, registeredOfficeAddress, officers, filingHistory, insolvency) {
        if (err) {
            console.log('Error: ' + err);
        }
        else {
            console.log('Company name: ' + company.company_name);
            console.log('Postcode: ' + registeredOfficeAddress.postal_code);
            console.log('Total officers: ' + officers.total_results);
            console.log('Total filing history count: ' + filingHistory.total_count);
            console.log('Insolvency dump: ' + insolvency);
        }
    }
);
    
	var API_KEY = "0IJg_twH_cNHRQ4TufRhHhKW72_W8xdgijXsHDyI";


</script>

{% endblock %}

