{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/profile">Profile</a></li>
        <li>Account</li>
        <li>Acme Ltd Coventry</li>
    </ol>
  </div>

    
    <div class="grid-row">
        <div class="column-two-thirds">
            
            <h1 class="heading-large">Confirm your company name</h1>

            <p>Your company number <strong class="bold-small">0736876</strong> is associated with:</p>
            
            <p class="heading-xlarge">Tesco Stores Limited
            <span class="heading-secondary">
                Tesco House, Shire Park, Kesteral Way, AL7 1GA
            </span>
            </p>
                        
            
            <form>
  <fieldset class="inline">

      <p>Use this companies house name on your contract?</p>
      
    <legend class="visuallyhidden">
  Is this the correct company?      
      </legend>

    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
      No
    </label>

  </fieldset>
</form>
            
            <a rel="external" href="../account" class="button">Continue</a>
        
        </div>
    </div>


</main>

 <!--button class="button">Do the thing</button-->


</script>

{% endblock %}

