{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


<a class="link-back" href="/{% include "includes/sprint-link.html" %}/profile">Back to profile</a>

    
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Employer agreement</h1>
    </div>
</div>
    
    <div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-large">TESCO STORES LIMITED</h1>
        <h2>Tesco House Shire Park, Kestrel Way, AL7 1GA</h2>
    </div>
</div>
<div class="grid-row">
    <div class="column-two-thirds">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nunc eros, posuere at lectus sollicitudin, efficitur malesuada odio. Curabitur varius mauris sit amet fringilla consequat. Integer porta id augue eu pretium. Sed quis sem vitae orci tincidunt vehicula. Nam sit amet ante metus. Suspendisse et elit varius, euismod odio quis, elementum erat. Nam imperdiet at ipsum vitae molestie. Mauris nisl diam, congue ultrices pretium vitae, congue vitae magna.

Nam ut hendrerit velit. Nam vitae quam rhoncus, tempor eros nec, sagittis quam. Etiam aliquet lectus in varius sodales. Vestibulum volutpat orci eu dui faucibus rutrum ut sed ante. Etiam molestie, quam ac ultricies lacinia, erat nunc tempus enim, vitae elementum libero tortor vitae urna. Integer eu eros mattis, euismod ligula in, venenatis nisi. Praesent ultricies nulla sed enim tristique accumsan. Etiam bibendum nulla vel bibendum facilisis. Suspendisse et tellus in dui vehicula ullamcorper nec nec libero. Curabitur ac ex eget elit aliquet rutrum. Ut lacinia, tellus vitae mattis eleifend, metus arcu pharetra massa, vitae placerat velit sapien sit amet nulla. Fusce id mi egestas, facilisis justo in, scelerisque leo. Vivamus lorem nisl, egestas in pulvinar at, facilisis et leo.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla consequat ac justo eu accumsan. Duis viverra pharetra elit ut mollis. Ut ultricies viverra mollis. Praesent vel nunc nec magna scelerisque lobortis. Pellentesque tempor venenatis nisl ut scelerisque. Mauris pharetra sapien quis metus dictum suscipit. Morbi mattis velit ante, id ullamcorper sapien tempus vel. In consequat aliquam elit, in congue purus tempor non. Fusce sit amet ligula erat.

Nunc ut lectus vitae mi varius viverra porta at tortor. Fusce cursus nunc ac neque maximus, a sollicitudin lectus cursus. Phasellus in purus augue. Suspendisse egestas commodo dolor, tempor rutrum tortor gravida in. Ut feugiat in ligula nec malesuada. Pellentesque posuere imperdiet mi. Cras sed odio ante. Aliquam rutrum consectetur urna, eget dictum massa maximus vitae. Donec in pretium metus, sed porta tortor.

Mauris purus nisl, fermentum et est sit amet, dapibus pretium massa. Fusce ultrices massa vitae diam varius, eu pharetra felis gravida. Quisque interdum ac est vitae ultricies. Nunc efficitur nibh et urna varius, nec ullamcorper quam faucibus. Nunc vel lectus rhoncus, faucibus lectus ac, rhoncus nisi. Donec tempor id erat in condimentum. Sed volutpat elementum neque sed sagittis. Aliquam erat volutpat. Maecenas sit amet sapien ut mi ornare imperdiet nec ac diam. Nullam eleifend dictum tellus, luctus convallis ligula. Pellentesque in tortor a libero posuere pellentesque. Donec consectetur lacus at dignissim egestas. Fusce gravida rutrum ex a cursus.</p>
    </div>
</div>
    
    <div class="grid-row">
    <div class="column-two-thirds">
            <form action="/{% include "includes/sprint-link.html" %}/account" method="GET">
                <input type="hidden" id="accountId" name="accountId" value="13">
                <input type="hidden" id="agreementId" name="agreementId" value="13">
                <input type="hidden" id="legalEntityName" name="legalEntityName" value="TESCO STORES LIMITED">
                <input class="checkbox" id="understood" name="understood" type="checkbox" value="understood">
                <label for="understood">I have read and understood the agreement</label>
                <p></p>
                <input class="button" id="signAgreement" type="submit" value="Sign agreement">
                <a href="#" class="button text-link">Skip, sign later</a>
            </form>
    </div>
</div>

</main>

 <!--button class="button">Do the thing</button-->

<script>
</script>

{% endblock %}

