{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}



<main id="content" role="main" class="newNav">
{% include "includes/_authenticated-navigation.html" %}


    <section id="mainWrapper">
        <div class="grid-row">
        <div class="column-two-thirds">
            
            <h1 class="heading-xlarge">Confirm organisation</h1>

        
                            
            
            <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
          Organisation name
        </td>
        <td>
          <span class="company-name">Red &amp; White Holdings Ltd</span>
        </td>
      </tr>
      <tr>
        <td>
          Companies House number
        </td>
        <td>
           <span class="ch-number">234234342</span>
        </td>
 
          
      </tr>
        <tr>
        <td>
            Address
            </td>
        <td>
            <address>
            104a Main Road
                Tooting Bec
                London
                WC1 4TL
            </address>
            </td>
 
          
      </tr>
    </tbody>
  </table>
            
            <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
          Organisation name
        </td>
        <td>
          <span class="company-name">Red Army</span>
        </td>
      </tr>
      <tr>
        <td>
            Address
            </td>
        <td>
            <address>
            104a Main Road
                Tooting Bec
                London
                WC1 4TL
            </address>
            </td>
 
          
      </tr>
    </tbody>
  </table>
       <br>
            <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
          Organisation name
        </td>
        <td>
          <span class="company-name">Red Cross</span>
        </td>
      </tr>
      <tr>
        <td>
            Registered charity number
        </td>
        <td>
          <span class="company-name">3248 078 3248</span>
        </td>
      </tr>
      <tr>
        <td>
            Address
            </td>
        <td>
            <address>
            104a Main Road
                Tooting Bec
                London
                WC1 4TL
            </address>
            </td>
 
          
      </tr>
    </tbody>
  </table>
                            <br>

            <table class="check-your-answers">


    <tbody>
      <tr>
        <td>
          Organisation name
        </td>
        <td>
          <span class="company-name">Dr Redditch</span>
        </td>
      </tr>
    <tr>
        <td>
            Address
            </td>
        <td>
            <address>
            104a Main Road
                Tooting Bec
                London
                WC1 4TL
            </address>
            </td>
 
          
      </tr>
    </tbody>
  </table>
            
       
      <h3 class="heading-medium">Is this the correct organisation?</h3>
   
            <a rel="external" href="step_a6?flow=addOrg" class="button">Yes, continue</a>
            <a class="button text-link" href="step_a6?flow=addOrg">No, search again</a>
        
        </div>
    </div>
        
    </section>
</main>



<script>
    
    
    //$("")
</script>

{% endblock %}

