{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/profile">Profile</a></li>
        <li>Levy account</li>
        <li><span class="company-name">company name</span></li>
    </ol>
  </div>

   <h1 class="heading-large company-name">FIFA</h1>
        <hr class="pta-hr" style="margin: 10px 0 30px;">

<div class="grid-row">
    <div class="column-half">
    <p>Get and spend your levy funds for your apprenticeship programme</p>
        <h3 class="heading-medium">Shorcuts</h3>
        <div class="grid-row">
        <div class="column-half">
            <ul class="list list-links">
            <li><a href="#">Add an organisation</a></li>
            <li><a href="#">Add a contract</a></li>
        </ul>
    </div>
        <div class="column-half">
            <ul class="list list-links">
            <li><a href="#">Find a training provider</a></li>
            <li><a href="#">Add an apprentice</a></li>


        </ul>
    </div>
        </div>
        
        </div>
    <div class="column-half">
        <h3 class="heading-medium">Funding forecast</h3>
        
    <div id="myChart"></div>

    </div>
</div>    
    
    <div class="grid-row">
    <div class="column-third">
        <h3 class="heading-medium">Actions</h3>
<div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Don't know where to start?</h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:88%; margin: 5px 10px 5px 20px">Take a guided tour</p>
                </div>
        </div>
                <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">SFA agreement: not signed </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Review and sign</p>
                </div>
            </div>
<div class="rj-alert-wrapper">    
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Forecast: not completed  </h2>
                  <p style="width:85%; margin: 5px 10px 5px 20px" to-do-action=""><a href="/sprintbeta5a&#10;&#10;&#10;&#10;/forecast/">Calculate your available spend</a></p>
                </div>
            </div>

        <div class="rj-alert-wrapper">
                <div class="rj-alert-copy">
                  <h2 class="heading-small" style="margin: 22px 10px 5px 20px">Staff with access to account: 1 </h2>
                  <p class="looks-like-a-link-underline to-do-action" style="width:85%; margin: 5px 10px 5px 20px">Grant access to others</p>
                </div>
            </div>
    </div>
        <div class="column-two-thirds">
        <h3 class="heading-medium">Check funds</h3>
            
            <div class="grid-row">
                <div class="column-half">
                    <p class="rj-home-spacer">Manage your funds including how much you have <a href="/sprintbeta5a&#10;&#10;&#10;&#10;/forecast">available to spend</a>, your <a href="/sprintbeta5a&#10;&#10;&#10;&#10;/history">transactions</a> and <a href="/sprintbeta5a&#10;&#10;&#10;&#10;/expire">funds you could lose</a></p>
                    
                    <ul class="list list-bullet">
                    <li><a href="#">View funds available to spend</a></li>
                    <li><a href="#">View funds expiring soon</a></li>
                    <li><a href="#">View your transaction history</a></li>
                    </ul>
                </div>
                <div class="column-half">
                <div class="data">
          <h2 class="bold-xlarge">£1,250</h2>
          <p class="bold-xsmall">Expiring funds</p>
        </div>
                    <div class="data rj-top-border">
          <h2 class="bold-xlarge">£5,250</h2>
          <p class="bold-xsmall">Incoming funds</p>
        </div>
                    <div class="data rj-top-border" style="position: relative;">
          <h2 class="bold-xlarge">£2,250</h2>
          <p class="bold-xsmall">Budget balance</p>
                        <i style="position: absolute; top: 20px; right: 20px; color: red;" class="fa fa-exclamation-triangle fa-2x"></i>
        </div>
                </div>
            </div>
            
        </div>
    </div>


</main>

<script>
    
    if (newLevyAccount && newOrgSigned == "y") {
     //   alert("signed and done")
        $("#as, .asSigned").removeClass("hidden");
    } else if ( newLevyAccount == "y" && newOrgSigned != "y" ) {
   //     alert("done but not signed");
        $("#as, .asNotSigned").removeClass("hidden");
    }
    


    
</script>

 <!--button class="button">Do the thing</button-->
<script>
var chart = c3.generate({
    bindto: '#myChart',
    data: {
      columns: [
            ['data1', 70, 70, 70, 70, 70, 70],
            ['data2', 704, 704, 704, 704, 704, 704],
            ['data3', -60, 200, 160, -100, -15, 250],
            ['data4', -726, -600, -700, -800, -726, -600]
        ],
        names: {
            data1: 'levy top up',
            data2: 'levy credit',
            data3: 'balance',
            data4: 'provider payments'
        },
        type: 'bar',
        types: {
            data3: 'area-spline',
        },
       colors: {
            data1: '#2E358B',
            data2: '#6F72AF',
            data3: '#28A197'
        },
        groups: [
            ['data1','data2','data4']
        ]
    },
    axis: {
        x: {
            label: 'Tax Month'
        },
        y: {
            tick: {
                count: 5,
                format: function (d) { return "£" + d; }
            },
            label: 'Balance (£)'
        }        
    },
    grid: {
        y: {
            lines: [{value:0}]
        }
    }
});
</script>

{% endblock %}

