{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>
<style>

#navigation-primary {
  display:none ;
}

</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

    

    
       <div class="govuk-box-highlight hidden">
          <h2 class="bold-large">
Account unlocked
        </h2>
           <p>You can now sign in</p>
        </div>

  <h1 class="heading-xlarge">Sign in</h1>

  <p>
   Sign in or <a href="register/profile">create an account</a> to manage your apprenticeship levy account.
  </p>

<form action="profile">
  <fieldset>
    <legend class="visuallyhidden">email address and password to sign in</legend>
      <div class="form-group">
          <label for="email-address">
              <span class="form-label-bold" >Email address</span>
               <span class="error-message hidden">Error message about personal details goes here</span>
          <!--span class="form-hint">Here is a hint for this form field.
</span-->
        </label>
          <input class="form-control" id="email-address" type="text">
      </div>
      <div class="form-group">
          <label for="password">
              <span  class="form-label-bold">Password</span>
                             <span class="error-message hidden">
          Error message about personal details goes here
        </span>
              </label>

          <input class="form-control" id="password" type="password">
      </div>
    </fieldset>
    <input class="button" id="createAccountButton" type="submit" value="Sign in">
</form>
<br>
    <ul class="list list-links">
    <li> <a href="profile/forgot">Forgot your password</a></li>
    <li> <a href="profile/unlock">Unlock your account</a></li>
    </ul>

<p id="test"></p>
</main>

<script>

    
var i = 0;
    
    var unlockStatus = JSON.parse(localStorage.getItem("unlockStatus"));

    if ( unlockStatus == "unlock" ) {
        $(".govuk-box-highlight").removeClass("hidden");
    };

    
//store details entered into the form in local storage
var createButton = document.getElementById('createAccountButton');
EventUtil.addHandler(createButton, 'click', function(e){
              // save the form info to local storage by first putting the data into an object
    e.preventDefault();
              var userDetails = {
                email: document.getElementById('email-address').value,
                password: document.getElementById('password').value
            };

            //store the object in local storage using json stringify
              localStorage.setItem("login", JSON.stringify(userDetails));

    });
    
    
    $("#createAccountButton").click(function(e){
        
        var Email = JSON.parse(localStorage.getItem("email-address"));
        var Password = JSON.parse(localStorage.getItem("password"));
        
        var inputEmail = $("#email-address").val();
        var inputPassword = $("#password").val();
        
        if ( Email != inputEmail || Password != inputPassword) {
            e.preventDefault();
            i++;
            console.log(i);
            $(".form-group").addClass("error");
            $(".form-group span.error-message").removeClass("hidden");

            if (i===3) {
               window.location.href = ("/" + JSON.parse(localStorage.getItem('sprint-number')) + "/error/lockedout");
            }
          
        } else {
            console.log("log in");  
               window.location.href = ("/" + JSON.parse(localStorage.getItem('sprint-number')) + "/account/");

        }
  
    });
    
    

</script>

{% endblock %}
