{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/profile">Profile</a></li>
        <li><a href="/{% include "includes/sprint-link.html" %}/account">Levy account</a></li>
        <li><span class="company-name">company name</span></li>
        <li>change me</li>
    </ol>
  </div>
    
    
    <div class="grid-row">
        <div class="column-two-thirds">
            
            <div class="hgroup">
            <h1 class="heading-large">SFA agreements</h1>

            <p>Lorem ipsum content about the agreements.</p>
            </div>

            
        
        </div>
    </div>
    
    <div class="grid-row">
    <div class="column-two-thirds">
<table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">Agreement ID</th>
                                <th scope="col" style="padding-top:0">Employer</th>
                                <th scope="col" style="padding-top:0">Status</th>
                                <th scope="col" style="padding-top:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--quick hack, will fix -->
                                <td class="">SFA Employer Agreement V1.3BETA</td>
                                <td>TESCO STORES LIMITED</td>
                                <td>Pending</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/account/agreements/view-pending">View</a></td>
                            </tr>
                            <tr>
                                <!--quick hack, will fix -->
                                <td class="">SFA Employer Agreement V1.2BETA</td>
                                <td>TESCO STORES LIMITED</td>
                                <td>Signed</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/account/agreements/view-signed">View</a></td>
                            </tr>
                            <tr>
                                <!--quick hack, will fix -->
                                <td class="">SFA Employer Agreement V1.1BETA</td>
                                <td>TESCO STORES LIMITED</td>
                                <td>Archived</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/account/agreements/view-archived">View</a></td>
                            </tr>
                            <tr>
                                <!--quick hack, will fix -->
                                <td class="">SFA Employer Agreement V1.0BETA</td>
                                <td>TESCO STORES LIMITED</td>
                                <td>Archived</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/account/agreements/view-archived">View</a></td>
                            </tr>
                        </tbody>
                    </table>
    </div>
</div>


</main>

 <!--button class="button">Do the thing</button-->

<script>
    

</script>

{% endblock %}

