{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}



<main id="content" role="main" class="newNav">
{% include "includes/_authenticated-navigation.html" %}



    <section id="mainWrapper">

            <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="#">Finance</a></li>
      <li><a href="#">Transaction history</a></li>
      <li><a href="#">Debit detail</a></li>
      <li>Rob Edwards</li>
    </ol>

  </div>
        
<div class="grid-row">
           <div class="column-two-thirds">
              <h1 class="heading-xlarge">


Rob Edwards</h1>
            <div>

                <table class="table-19-font"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="bold-medium">Overview</h2></th>

                    </tr>
                  </thead>
                  <tbody>
                                         <tr>
                      <td class="rjTableName">Apprentice name</td>
                      <td class="">Rob Edwards</td>
                      <td class=""></td>
                    </tr>
                     <tr>
                      <td class="rjTableName">Individual learner number</td>
                      <td class="">98HGS3FDS</td>
                      <td class=""></td>
                    </tr> 
                                          <tr>
                     <td class="rjTableName">Amount paid</td>
                      <td class="">£1,312.56</td>
                      <td class="hidden"><a href="/sprintbeta8-4&#10;&#10;&#10;&#10;/apprentice-view/paid">View</a></td>
                    </tr>
                    </tbody>
                    
                </table>
                


                <table class="table-19-font hidden"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="bold-medium">Overview</h2></th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td class="rjTableName">Apprentice name</td>
                      <td class="">Rob Edwards</td>
                      <td class=""></td>
                    </tr>
                     <tr>
                      <td class="rjTableName">Individual learner number</td>
                      <td class="">98HGS3FDS</td>
                      <td class=""></td>
                    </tr>
                     <tr>
                     <td class="rjTableName">Apprenticeship name</td>
                      <td class="">Aeronautical engineering</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                      <td class="rjTableName">Apprenticeship level</td>
                      <td class="">Level 2 NVQ</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                      <td class="rjTableName">Training provider</td>
                      <td class="">Hackney Skills Solutions Ltd</td>
                      <td class=""></td>
                    </tr>

                    <tr>
                     <td class="rjTableName">Endpoint assessor</td>
                      <td class="">Pham Assessment Ltd</td>
                      <td class=""></td>
                    </tr>
                      </tbody>
                </table>


                <table class="table-19-font hidden"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Dates</h2></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     <td class="rjTableName">Start date</td>
                      <td class="">20 July 2018</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                     <td class="rjTableName">End date</td>
                      <td class="">19 July 2020</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Time left</td>
                      <td class="">10 months</td>
                      <td class=""></td>
                    </tr>
                                </tbody>
                </table>


                <table class="table-19-font hidden"> 
                  <thead>
                    <tr>
                      <th colspan="2"> <h2 class="heading-medium">Payment</h2></th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                     <td class="rjTableName">Cost</td>
                      <td class="">£2,957.56</td>
                      <td class=""></td>
                    </tr>
                    <tr>
                     <td class="rjTableName">Amount paid</td>
                      <td class="">£1,312.56</td>
                      <td class="hidden"><a href="/sprintbeta8-4&#10;&#10;&#10;&#10;/apprentice-view/paid">View</a></td>
                    </tr>
                     <tr>
                     <td class="rjTableName">Balance</td>
                      <td class="">£1,645.00</td>
                      <td class="hidden"><a href="/sprintbeta8-4&#10;&#10;&#10;&#10;/apprentice-view/left-to-pay">View</a></td>
                    </tr>

                  </tbody>
                </table>

          
            </div>
 
               

    </div>

          <div class="column-one-third">

            </div>
        </div>
        
    </section>
</main>



<script>
</script>

{% endblock %}

