{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>
<style>

#navigation-primary {
  display:none ;
}

</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <!--li><a href="/">Breadcrumb here ></a></li-->
    </ol>

  </div>

  <h1 class="heading-xlarge">Request unlock code</h1>

  <p>
   Enter your email address to get an unlock code.
  </p>


<form action="unlock/step_a2">
  <fieldset>
    <legend class="visuallyhidden">email address</legend>
      <div class="form-group">
          <label class="form-label-bold" for="email-address">Email
          <!--span class="form-hint">Here is a hint for this form field.</span-->
        </label>
          <input class="form-control" id="email-address" type="text">
      </div>
    </fieldset>
    <input class="button" id="getUnlockCode" type="submit" value="Get unlock code">
</form>    
</main>

<script>

</script>

{% endblock %}
