{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}

    <a href="../team/" class="link-back">Back to team members</a>


 
<div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">


Susan Hamazaki<!--span class="heading-secondary" style="padding-top:0px">rob.edwards@acmecoventryltd.com</span--></h1>
                <div>



                    <form>
                        <fieldset>
                            <legend class="visuallyhidden">Access to the service</legend>
                            <label class="form-label" for="full-name">Choose what you allow this team member to do.</label>
<br>
                            <label class="rj-roles-choice block-label " for="radio-1">
                                <input id="radio-1" type="radio" name="radio-group" value="Viewer">
          View financial information	
                            </label>

                            <label class="block-label rj-roles-choice" for="radio-2">
                                <input id="radio-2" type="radio" name="radio-group" value="Doer"> 
Create or stop payment and view financial information	                            </label>

                            <label class="block-label rj-roles-choice" for="radio-3">
                                <input id="radio-3" type="radio" name="radio-group" value="Owner">Everything - they're the owner	
                            </label>
                        </fieldset>
                    </form>


                    <div style="margin-top:35px"></div>

                    <br clear="all">
                    <br clear="all">

                    <a class="button" href="../team/?rolechange=y">Update</a>

                    

                </div>

            </div>

        
        </div>
    
</main>

<script>

    
    
  
</script>

{% endblock %}
