{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/userControl.html" %}


  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/{% include "includes/sprint-link.html" %}/profile">Profile</a></li>
      <li><a href="/{% include "includes/sprint-link.html" %}/account">Levy account</a></li>
        <li><span class="company-name"></span></li>
        <li>Manage team members</li>

    </ol>
  </div>

    

    <div class="govuk-box-highlight rolechange hidden">
                <h2 class="bold-large">
            Team member updated
          </h2>
                <p>
                    <span class="bold-small">john@tesco.co.uk </span> can now <span class="bold-small">create and stop payments and view financial information</span>
                </p>
            </div>

    
    
<div class="govuk-box-highlight justadded hidden">
                <h2 class="bold-large">
            Invitation sent
          </h2>
                <p>
                    You've sent an invitation to <span class="bold-small">john@tesco.co.uk</span>
                </p>
            </div>

    
            <div class="govuk-box-highlight justremoved hidden">
                <h2 class="bold-large">
            Invitation cancelled
          </h2>
                <p>
                    You've cancelled the invitation sent to <span class="bold-small">john@tesco.co.uk</span>
                </p>
            </div>
    
    
    <div class="govuk-box-highlight userdeleted hidden">
                <h2 class="bold-large">
            Team member removed
          </h2>
                <p>
                    You've removed the profile for <span class="bold-small">john@tesco.co.uk</span>
                </p>
            </div>
    
    
    <div class="grid-row">
            <div class="column-two-thirds">
                <div class="hgroup">
                    <h1 class="heading-xlarge">Manage team members</h1>
                    <p>Invite members, control what they can do, remove members and cancel or resend invitations.</p>
                </div>
            </div>
            <div class="column-third">
                <a class="button" style="margin-top: 60px;" href="invitenew">Invite a new member</a>
            </div>
        </div>
    
    <div class="grid-row">
            <div class="column-two-thirds">


                <section id="invitations">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">User name</th>
                                <th scope="col" style="padding-top:0">What they can do</th>
                                <th scope="col" style="padding-top:0">Status</th>
                                <th scope="col" style="padding-top:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--quick hack, will fix -->
                                <td class="">George, Charlie
                                    <br><span class="text-secondary">charlie.george@gmail.com</span>
                                </td>
                                <td>Everything - they're the owner</td>
                                <td>Invitation awaiting response</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/team/view-invite">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="">Akpom, Chuba
                                    <br><span class="text-secondary">chuba.akpom@googlemail.es</span>
                                </td>
                                <td>View financial information</td>
                                <td>Profile active</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/team/view-user">Edit</a></td>
                            </tr>
                            <tr>
                                <td class="">Mustafi, Shkodran
                                    <br><span class="text-secondary">s.mustafi@gmail.co.uk</span>
                                </td>
                                <td>View financial information</td>
                                <td>Profile removed</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="">Iwobi, Alex
                                    <br><span class="text-secondary">georgia.c@outlook.com</span>
                                </td>
                                <td>Create or stop payment and view financial information</td>
                                <td>Invitation cancelled</td>
                                <td></td>
                            </tr>
                                                        <tr>
                                <td class="">Nasri, Sammi
                                    <br><span class="text-secondary">sammi.n@tesco.com</span>
                                </td>
                                <td>Create or stop payment and view financial information</td>
                                <td>Invitation expired</td>
                                <td><a href="/{% include "includes/sprint-link.html" %}/team/view-expired-user">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                      <section id="expired-invitations" class="hidden">
                                              <h2 class="heading-medium">Expired user</h1>

                    <table>
                        <thead>
                            <tr>
                                <th scope="col" style="padding-top:0">User name</th>
                                <th scope="col" style="padding-top:0">What they can do</th>
                                <th scope="col" style="padding-top:0">Status</th>
                                <th scope="col" style="padding-top:0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">Chrysanthos, Georgia
                                    <br><span class="text-secondary">georgia.c@tesco.com</span>
                                </td>
                                <td>Transactor</td>
                                <td>Expired</td>
                                <td><a href="view-expired-user">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                
            </div>
            <div class="column-third">



            </div>
        </div>
    

</main>

<script>
  if ( justadded == "y") {
     $(".justadded").removeClass("hidden");
  } else if ( justremoved == "y") {
           $(".justremoved").removeClass("hidden");
  } else if ( userdeleted == "y") {
      $(".userdeleted").removeClass("hidden");
  } else if ( rolechange == "y" ) {
      $(".rolechange").removeClass("hidden");
  }
</script>

{% endblock %}
