{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>
<style>

#navigation-primary {
  display:none ;
}

</style>


<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}



    

<div id="nocodeNotice" class="error-summary hidden" role="group" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Errors to fix
  </h1>

  <p>
Check following details:  </p>

  <ul class="error-summary-list">
    <li><a href="#email-address">Enter a valid unlock code</a></li>
  </ul>

</div>
    
    <div id="expired" class="error-summary hidden" role="group" tabindex="-1">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Unlock code has expired
  </h1>

        

  <ul class="error-summary-list">
    <li><a href="#" class="resendCode">You can request a new unlock code</a></li>
  </ul>

</div>
    
    
    <div class="govuk-box-highlight success hidden">
          <h2 class="bold-large">
New unlock code sent
        </h2>
        <p>change me - something about checking email and spam no?</p>
        </div>
    

  <h1 class="heading-xlarge">Enter your unlock code</h1>

  <p>
An unlock code has been sent to <strong class="bold-small eMail">pete.kowalczyk@gmail.com</strong>.
    </p>


<form action="../../login">
  <fieldset>
    <legend class="visuallyhidden">email address</legend>
      <div class="form-group">
          <label class="form-label" for="email-address">
              <span class="form-label-bold">Enter unlock code</span>
              <span class="error-message hidden">Enter a valid unlock code</span>
          <!--span class="form-hint">Here is a hint for this form field.</span-->
        </label>
          <input class="form-control" id="email-address" type="text">
      </div>
    </fieldset>
    <input class="button" id="unlockAccount" type="submit" value="Unlock">
</form>    
    <br>
    <h3 class="heading-small">Not received your unlock code?</h3>
    <p>You can <a href="#" class="resendCode">request another unlock code</a>.</p>
</main>

<script>

    $(".resendCode").click(function(e){
        e.preventDefault();
        $(".govuk-box-highlight.success").removeClass("hidden");
        $("#nocodeNotice,#expired,.error-message").addClass("hidden")
        $(".form-group").removeClass("error");
       // $(".govuk-box-highlight.error").removeClass("show");
});
    
    
       var eMail = localStorage.getItem("email-address", JSON.stringify);
    
    $(".eMail").text(eMail);
    

    // initially set the unlock code to active
localStorage.setItem("unlockStatus", JSON.stringify("unlocked"));               

    // after 2 minutes lock the code
    setTimeout(function(){
        console.log("code timed out");
        localStorage.setItem("unlockStatus", JSON.stringify("expired"));                  
    }, (2 * 60 * 50));

    
    
    $("#unlockAccount").click(function(e){
        // 2 minute timeout 2 * 60 * 1000
        e.preventDefault();  
        if ( localStorage.getItem('unlockStatus') == "expired") {
            $("#expired").removeClass("hidden");
            console.log("this unlock code has expired");
            };
        if ($("#email-address").val() == "") {
            $(".form-group").addClass("error");
            $(".error-message,#nocodeNotice").removeClass("hidden");
            console.log("the e-mail is blank" + $("#email-address").text());
        };
        if (($("#email-address").val() != "") && (localStorage.getItem('unlockStatus') != "expired"))  {
                 localStorage.setItem("unlockStatus", JSON.stringify("unlock"));
                        window.location.href='../../login';
        };
    });

    
    

    
</script>

{% endblock %}
