{% extends "layout.html" %}

{% block page_title %}
  Apprenticeships
{% endblock %}

{% block content %}

<style>
  .home-nav a {
    {% include "includes/nav-on-state-css.html" %}
  }

  @media (min-width: 641px) and (max-width: 890px){
.rj-alert-wrapper {
  height:135px;
}
}

  @media (min-width: 641px) and (max-width: 700px){
.rj-alert-wrapper {
  height:160px;
}
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

    
    
<div class="hgroup">
    <h1 class="heading-xlarge">You've been locked out</h1>

    <p>Your account is currently locked.</p>
    <a href="/{% include "includes/sprint-link.html" %}/profile/unlock/step_a1" class="button">Unlock now</a>
</div>

</main>

    <script>
        $("#submit-email-code").click(function(e){
            e.preventDefault();
            window.location.href='../profile';
            localStorage.setItem("accountActivatedMsg", 'true');                  
        })
        
        $("#newCode").click(function(e){
            e.preventDefault();
            $(".govuk-box-highlight h2").text("A new access code sent");
            $(".govuk-box-highlight p").html("A new acccess code has been sent to <strong class='bold-small'>pete.kowalczyk@gmail.com</span>");
        })
    </script>
    
 <!--button class="button">Do the thing</button-->


</script>

{% endblock %}

