{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<script>
// not needed at the moment, remember to remove script from the header if you don't use this in the end.



</script>

<style>

#navigation-primary {
  display:none ;
}

</style>

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}
{% include "includes/secondary-nav.html" %}


    <div class="error-summary hidden" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1" id="govGatewayDenied">

  <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
    Account not added
  </h1>

  <p>
    You need to grant authority to HMRC to add an account.
  </p>

  <ul class="error-summary-list">
    <li><a href="/{% include "includes/sprint-link.html" %}/account/paye">Add new account</a></li>
  </ul>

</div>

 


    
            <div class="grid-row">
                <div class="column-two-thirds">
                   <h1 class="heading-large">Change your password</h1>
                    
                    <form action="../profile?passwordReset=y">
                        <fieldset>
                            <legend class="visually-hidden">Change your password</legend>
                            <div class="form-group" id="currentPasswordGroup">
                                <label for="currentPassword">
                                    <span class="form-label-bold">Current password</span>
                                    <span class="error-message" style="display:none;">Password does not match</span>
                                </label>
                                <input class="form-control" id="currentPassword" type="password" />
                            </div>
                            
                            <div class="form-group">
                            
                            </div>
                        </fieldset>
                        
                        <fieldset>
   
            <div class="form-group" id="passwordgroup">
          <label class="form-label-bold" for="user-password">
              <span class="form-label-bold">Create password</span>
          <!--span class="form-hint">Here is a hint for this form field.</span-->
                        <span class="error-message hidden" style="display: none;">
          Password must not be blank
        </span>
        </label>        <p>Your password must:</p>
 <!--       <ul class="list list-bullet">
            <li>be 8 to 12 characters long</li>
            <li>have at least one uppercase and one lowercase letter</li>
            <li>have at least one number</li>
        </ul>
-->
        
                                        <div class="popover">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <ul>
                                            <li id="8num" class="success"><i class="fa fa-circle"></i> be 8 to 12 characters long</li>
                                            <li id="1cap" class="success"><i class="fa fa-circle"></i> have at least one uppercase and one lowercase letter</li>
                                            <li id="1num" class="success"><i class="fa fa-circle"></i> have at least one number</li>
                                        </ul>
                                    </div>
                                </div>
                <br>
        
   
                 


                
                <input id="password" type="password" class="form-control">
                                <div class="password-strength">
                                    <span class="tooweak"></span>
                                    <span class="weak"></span>
                                    <span class="medium"></span>
                                    <span class="strong"></span>
                                </div>
 <p>Password strength: <span class="pw-strength"></span></p>
                            </div>
                
                 
            
            

            
            
      <div class="form-group" id="confirmPassword">
          <label class="form-label-bold" for="user-password_confirm">
              <span class="form-label-bold">Re-type password</span>
          <span class="error-message" id="error1" style="display: none;">Reconfirm you password</span>
          <span class="error-message" id="error2" style="display: none;">Passwords do not match</span>
          </label>
          <input class="form-control" id="user-password_confirm" type="password">
      </div>     
                  
            
        </fieldset>
                        
                        <button id="resetPaswordButton" type="submit" class="button">Continue</button>
                        
                    </form>
                </div>
            </div>  
</main>

<script>
    
        
      $(".error-message").hide();
    
    
    $("#resetPaswordButton").click(function(e){
    e.preventDefault();   
        oldPassword();
        passwordComplete();
        passwordsMatch();
        
        if (oldPassword() && passwordComplete() && passwordsMatch ) {
            console.log("success");
            window.href.open("profile");
        } else {
            console.log("fail");
        }
    });

    
    function oldPassword() {
        var oldPassword = $("#currentPassword").val();
        var currentPassword = JSON.parse(localStorage.getItem('password'));
        
        if (oldPassword != currentPassword ) {
            $("#currentPasswordGroup").addClass("error")
            $("#currentPasswordGroup .error-message").show();
        } else {
            return true;
        }
    }

    
    
    function passwordComplete() {
        if ($("#password").val() == "") {
            //alert("password empty");
                  $("#passwordgroup").addClass("error");
      $("#passwordgroup .error-message").removeClass("hidden").show();
            $(".error-summary li:eq(3)").removeClass("hidden");
        } else {
            return true;
        }
    }
    
    function passwordsMatch() {
        var confirmPassword = $("#user-password_confirm").val();
        var password = $("#password").val();
        
        
        if ( confirmPassword == "" ) {
            $("#confirmPassword").addClass("error");
            $("#confirmPassword label #error1.error-message").show();   
            $(".error-summary li:eq(4)").removeClass("hidden");
}
        else if ( password != confirmPassword ) {
            // fire error
            //console.log("passwords don't match")
            $("#confirmPassword").addClass("error");
            $("#confirmPassword label #error2.error-message").show();
            $(".error-summary li:eq(4)").removeClass("hidden");
            
        } else {
            return true;
        } 
    }
    
  
    

    
    
    
    i = 0;

    $("#password input").keyup(function(e){
        i++;
        var len = $("#password-input").val().length;
        alert(len);
        //var oneCharacter = newRegExp(^[A-Za-z]([A-Za-z]{2}|[A-Za-z][0-9]|[0-9]{2})[0-9]{0,6}$);
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        if (false == enoughRegex.test($(this).val())) {
        } else if (strongRegex.test($(this).val())) {

        } else if (mediumRegex.test($(this).val())) {
            $("#1char").removeClass("danger").addClass("success");
            $("#1char .fa").removeClass("fa-circle").addClass("fa-check-circle")
        } else if (len > 8 ) {
            $("#8num").removeClass("danger").addClass("success");
            $("#8num .fa").removeClass("fa-circle").addClass("fa-check-circle")
        } else {

        }
        return true;
    })


    i = 0;
   



    $("#passwordgroup input").keyup(function(e) {
        var password = $(this).val();

        //validate the length
        if ( password.length < 8 ) {
            $('#8num').removeClass('success').addClass('danger');
            $("#8num i").removeClass("fa-check-circle").addClass("fa-circle");
        } else {
            $('#8num').removeClass('danger').addClass('success');
            $("#8num i").removeClass("fa-circle").addClass("fa-check-circle");
        }

//validate letter
        if ( password.match(/[A-z]/) ) {
            $('#1char').removeClass('danger').addClass('success');
            $("#1char i").removeClass("fa-circle").addClass("fa-check-circle");
        } else {
            $('#1char').removeClass('success').addClass('danger');
            $("#1char i").removeClass("fa-check-circle").addClass("fa-circle");
        }

//validate capital letter
        if ( password.match(/[A-Z]/) ) {
            $('#1cap').removeClass('danger').addClass('success');
            $("#1cap i").removeClass("fa-circle").addClass("fa-check-circle");
        } else {
            $('#1cap').removeClass('success').addClass('danger');
            $("#1cap i").removeClass("fa-check-circle").addClass("fa-circle");
        }

//validate number
        if ( password.match(/\d/) ) {
            $('#1num').removeClass('danger').addClass('success');
            $("#1num i").removeClass("fa-circle").addClass("fa-check-circle");
        } else {
            $('#1num').removeClass('success').addClass('danger');
            $("#1num i").removeClass("fa-check-circle").addClass("fa-circle");
        }




        i++;
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        if (false == enoughRegex.test(password)) {
            console.log("pass");
            $('.password-strength .tooweak').fadeIn();
            $(".pw-strength").text("incomplete");
        } else if (strongRegex.test($(this).val())) {
            $('.password-strength .strong').fadeIn();
            $(".pw-strength").text("strong");
        } else if (mediumRegex.test($(this).val())) {
            $('.password-strength .medium').fadeIn();
            $(".pw-strength").text("moderate");
        } else {
            $('.password-strength .weak').fadeIn();
            $(".pw-strength").text("weak");
        }
        return true;



    });


    
</script>

{% endblock %}
